@font-face { font-family: 'WOFF Juli Sans-Regular'; src: url('../fonts/JuliSans-Regular.woff'); }
@font-face { font-family: 'WOFF2 Juli Sans-Regular'; src: url('../fonts/JuliSans-Regular.woff2'); }

@font-face { font-family: 'WOFF Juli Sans-Medium'; src: url('../fonts/JuliSans-Medium.woff'); }
@font-face { font-family: 'WOFF2 Juli Sans-Medium'; src: url('../fonts/JuliSans-Medium.woff2'); }

@font-face { font-family: 'WOFF Juli Sans-Bold'; src: url('../fonts/JuliSans-Bold.woff'); }
@font-face { font-family: 'WOFF2 Juli Sans-Bold'; src: url('../fonts/JuliSans-Bold.woff2'); }


.content-wrap{
	min-height: 300px;
}

#OvulationCalculator h1.oc_admin_heading{
	font-family: "WOFF2 Juli Sans-Medium";
	margin-top: 1rem;
	margin-bottom: 1rem;
	color: #9E8977;
}

#OvulationCalculator .tabs-style-topline nav a{
	font-family: "WOFF2 Juli Sans-Regular";
}

/*
#OvulationCalculator h2,
#OvulationCalculator h3,
#OvulationCalculator h4,
#OvulationCalculator .form-table th{
	font-family: "WOFF2 Juli Sans-Regular";
	margin-bottom: 2em;
}
*/

#OvulationCalculator #uploadButtonLogo,
#OvulationCalculator #uploadButtonPerson,
#OvulationCalculator #uploadButtonHeader,
#OvulationCalculator #uploadButton,
#OvulationCalculator .large-text,
#OvulationCalculator .regular-text,
#OvulationCalculator .small-text{
    display: block;
    padding: 0.3em;
    font-size: 14px;
    line-height: 1.5;
}
#OvulationCalculator #uploadButtonLogo,
#OvulationCalculator #uploadButtonPerson,
#OvulationCalculator #uploadButtonHeader,
#OvulationCalculator #uploadButton{
	height: 100%;
	border-radius: 0;
	background-color: #a8d1af;
	color: #fff;
}

#OvulationCalculator h3{
	font-family: "WOFF2 Juli Sans-Medium";
	margin-bottom: 0;
}

#OvulationCalculator .preview{
	float: left;
}
#OvulationCalculator #imgPreviewLogo,
#OvulationCalculator #imgPreviewPerson,
#OvulationCalculator #imgPreviewHeader,
#OvulationCalculator #imgPreview{
	width: 100px;
	height: 100%;
	padding: 2px;
	margin: 0;
	background-color: #ccc;
}
#OvulationCalculator #imageURLLogo,
#OvulationCalculator #imageURLPerson,
#OvulationCalculator #imageURLHeader,
#OvulationCalculator #imageURL{
	float: left;
}

#OvulationCalculator .clearfix{
	clear: both;
}

.ovulation-icon{
	vertical-align: middle;
	margin-right: 1rem;
}
